apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: config-data-policies
policyDefaults:
  namespace: policies
  policySets: []
  placement:
    labelSelector:
      matchExpressions:
        - key: vendor
          operator: In
          values:
            - OpenShift
policies:
  - name: config-data
    manifests:
      - path: configmap.yaml
